/* ================= features ================= */

.features {
  background-color: var(--light-gray-color);
  padding: 0;
}
.features__wrapper {
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}
.features__img {
  margin-top: -3em;
  justify-self: center;
}
.features__text {
  background-color: #fff;
  padding: 0.8em 3em;
}
.features__text h3 {
  font-size: 3.7rem;
  margin: 0.2em 0;
}
.features__text span {
  color: var(--secondary-color);
}
.features__text p {
  color: var(--secondary-color);
}
.features__items {
  margin-top: 3em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
.feature__item {
}
.feature__item h5 {
  color: var(--dark-color);
  margin-bottom: 0.4em;
  font-size: 1.7rem;
}
.feature__item p {
  color: var(--secondary-color);
}
.feature__icon {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  border-radius: var(--border-raduis-md);
  color: var(--light-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0.6em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features--uiux {
  background-color: var(--green-color);
}
.features--nativeiso {
  background-color: var(--light-blue-color);
}
