/* ================= hero ================= */

.hero__wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}
.hero__text h1 {
  font-size: 7.5rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 2.5rem;
  line-height: 8rem;
}
.hero__text p {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.hero_btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.hero__btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
}
.hero__text span {
  color: var(--secondary-color);
  font-size: 1.8rem;
}
.hero__img img {
  height: 40rem;
  -o-object-fit: cover;
  object-fit: cover;
}
