/* ================= hero ================= */

.hero {
  /* padding: 5.7em 0; */
}
.hero__text {
  width: 52%;
}
.hero__text h1 {
  font-size: 7.5rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 2.5rem;
  line-height: 8rem;
}
.hero__text p {
  color: var(--secondary-color);
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.hero__btn {
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  margin-right: 0.5em;
}
.hero__text span {
  color: var(--secondary-color);
  font-size: 1.8rem;
}
.hero__img {
  width: 42%;
}
.hero__img img {
  width: 100%;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
